<div class="container p-t-2">
    <h1>{{title}}</h1>

    <form method="get" action="/compare">
        <div class="addedLinks">

        </div>
        <fieldset class="">
            <div class="row links">
                <div class="linkInput input-group col-lg-8">
                    <input class="form-control" type="text" placeholder="Please paste link here a click add button.">
                    </input>
            <span class="input-group-btn">
                    <button class="btn btn-default" onClick="onLinkAdd()" type="button">+</button>
            </span>
                </div>
            </div>
        </fieldset>
        <div class="row p-t-2">
            <div class="col-lg-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>