<h1>{{title}}</h1>

<form method="get" action="/compare">
    <fieldset class="form-group">
        <label for="links">Linki separowane przecinkami (wspierane otomoto i olx)</label>
        <textarea class="form-control" id="links" rows="3" name="links"></textarea>
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="addedLinks">

</div>
<form method="get" action"/compare">
    <fieldset class="links">
        <div class="linkInput">
            <input type="text">
            </input>
            <button type="button" onClick='onLinkAdd()'>+
            </button>
        </div>
    </fieldset>

</form>