<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css"
              integrity="" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        {{{body}}}
        <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" integrity=""
                crossorigin="anonymous"></script>
    </body>
</html>