<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css"
              integrity="" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/style.css'/>

        <meta name="description" content="Kompoto - porównywarka ogłoszeń otomoto,allegro,olx">

        <meta property="og:title" content="Kompoto - porównywarka ogłoszeń otomoto,allegro,olx">
        <meta property="og:site_name" content="Kompoto.pl">
        <meta property="og:url" content="http://kompoto.pl">
        <meta property="og:description" content="Kompoto porównuje właściwości i wyposażenie ogłoszeń sprzedaży samochodów z serwisów otomoto, allegro i olx.">
        <meta property="fb:app_id" content="">og
        <meta property="og:type" content="website">

        <script src="javascript/scripts.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    </head>
    <body>
        {{{body}}}
        <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" integrity=""
                crossorigin="anonymous"></script>
    </body>
</html>