@background: #373a3c;
@fontColor: #eceeef;

html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0;
  color: @fontColor;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: @background;
}

.table {
  margin-bottom: 0;
}

a {
  color: #00B7FF;
}

.key {
  font-weight: bolder;
}

.hasFeature {
  color: lightgreen;
}

.noFeature {
  color: palevioletred;
}

.feature {
  font-size: large;
}

img {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.rowIdentical {

}